{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <br>
    <p>
        Welcome to <strong>Sharemedia</strong>!
        <br>
        Here you can view the post which other users upload
        or you can share you own!
    </p>
    <br>
    <p>
        Register yourself to be a part of the community. 
    </p>
    <br>
    <p>
        Already registered? Login to view or publish your post!
    </p>
{% endblock %}
